body{
    background: url(tlo.jpg);
    font-family: 'Roboto', sans-serif;
}
.logo__image{
    width: 100px;
    height: 100px;
    margin-top: 52px;
}
.logo-image{
    position: relative;
    display: flex;
    justify-content: center;
}
.header-text__h1{
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 20px;
}
.login{
    position: relative;
    background: rgb(232,232,232);
    width: 355px;
    height: 315px;
    border-radius: 5px;
    margin-top: 30px;
}
.login__h3{
    position: relative;
    font-size: 19px;
    margin-top: 50px;
    margin-left: 50px;
    display: block;
    float: left;

}
.login__img{
    display: block;
    position: relative;
    top: 50px;
    left: 130px;
    width: 25px;
    height: 25px;
}
.login-form__login, .login-form__password{
    width: 255px;
    height: 35px;
    margin-top: 0px;
    margin-left: 50px;
    border-width: 0px;
    border-radius: 5px;
}
.login-form__password{
    margin-top: 15px;
    margin-bottom: 7px;
}
.login-form{
    position: relative;
}
::placeholder{
    text-align: center;
    font-size: 14px;
}
.login-form__button{
    position: relative;
    background: rgb(115, 180, 214);
    width: 190px;
    height: 35px;
    border-width: 0px;
    border-color: rgb(115, 180, 214);
    border-radius: 5px;
    margin-top: 15px;
    color: white;
    font-size: 18px;
    left: 80px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}
.login__password-message{
    position: relative;
    font-size: 14px;
    color: gray;
    left: 110px;
    text-decoration: none;
}
.footer-text__p{
    display: flex;
    justify-content: center; 
    line-height: 10px;         
}
.footer-text__a{
    margin-top: 30px;
    color: black;
}
.footer-text__google{
    color: black;
}
.footer-text{
    position: relative;
    margin-top: 50px;
    font-size: 17px;
}
section{
    position: relative;
    display: flex;
    justify-content: center;
}    
.checkbox-style{
    position: relative;
    padding-left: 73px;
    margin-bottom: 0px;
    padding-top: 10px;
    font-size: 17px;
}
.checkbox-style__input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark{
    position: absolute;
    top: 12px;
    left: 50px;
    height: 15px;
    width: 15px;
    background: rgb(255, 255, 255);
    border-radius: 3px;
    cursor: pointer;
}
.checkbox-style:hover input ~ .checkmark{
    background: rgb(255, 255, 255);
}
.checkbox-style input:checked ~ .checkmark{
    background: rgb(115, 180, 214);
}
.login-form__font{
    font-size: 20px; 
    color: gray;
    position: absolute;
    top: 74px;
    left: 265px;
}
